{% extends 'admin/base.html.twig' %}

{% block title %}creation d'une nouvelle chaussure!{% endblock %}



{% block body%}

    <div class="container">
        <h1>Créer une nouvelle chaussure</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer  la nouvelle chaussure</button>
        {{ form_end(form) }}

    </div>
{% endblock %}


{% block javascripts %}{% endblock %}