{% extends 'admin/base.html.twig' %}

{% block title %}creer Marque{% endblock %}

{% block body %}
    <div class="container">
        <h1>Créer Marque</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer  Marque</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
